<!DOCTYPE html>
<html>
<head>
  <title>Ello! Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Molle:400italic|Oswald|Satisfy|PT+Sans:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1 id="site-header-title">
				<%= link_to root_path do %>
					Ello<span id="exclamation">!</span>
				<% end %>
			</h1>
			<p id="site-header-subtitle">Musings of a Brown Girl in Tech</p>
		</div>

		<div class="nav-bar">
			<ul class="nav">
				<li><%= link_to "FRESHY", category_path(id: 1) %></li>
				<li><%= link_to "TWL", category_path(id: 4) %></li>
				<li><%= link_to "TECH CONNECTIONS", category_path(id: 3) %></li>
				<li><%= link_to "AROUND TOWN", category_path(id: 2) %></li>
			</ul>
		</div>

		<div class="content">
			<div class="main">
				<%= yield %>
			</div>


			<div class="aside">
				<h3 id="aside-header">TECH CONNECTIONS</h3>
				<p id="aside-subheader">Networks and Resources for Women and Minorities in Tech</p>
				<div id="aside-background">
					<div class="transparent-layer">
						<h3>TECH CONNECTIONS</h3>
				<p>Networks and Resources for Women and Minorities in Tech</p>
					</div>
				</div>
			</div>

			<div class="footer">
			Footer
			</div>
		</div>
	</div>
</body>
</html>
