<%= form_for @article do |f| %>
	<!-- ERRORS  -->
	<% if @article.errors.any? %>
		<div class="errors" id="error-article-form">
			<h2>Hey! There's an issue or two with your submission:</h2>
			<ul>
				<% @article.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<!-- END ERRORS -->

	<div class="form-div">
		<%= f.label "Relative Path or URL for article image (optional)" %><br>
		<%= f.text_field :header_img_path %><br>
	</div>

	<div class="form-div">
		<%= f.label "Title" %><br>
		<%= f.text_field :title %><br>
	</div>

	<div class="form-div">
		<%= f.label :body %><br>
		<%= f.text_area :body %><br>
	</div>


	<div class="form-submit-button">
		<%= f.submit "Submit" %><br>
	</div>
<% end %>