<h1 id="recent">Recent posts from Ello!</h1>
<table>


  <% @articles.each do |article| %>
    <tr>
      <td class="article-title"><%= link_to "#{article.title}", article_path(article.id) %></td>
    </tr>
    <tr>
      <td><%= article.body.slice(0..177) %>...</td>
    </tr>

    <tr>
      <td class="username">by <%= article.author.username %></td>
    </tr>

      <% if admin %>
        <%= link_to "Edit", edit_article_path(@article) %>
        <br>
        <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure??"} %>
      <% end %>
    </tr>
  <% end %>
</table>

<% if admin %>
  <%= link_to "New Article", new_article_path %>
<% end %>