<p>
  <strong>
  <%= @article.title %>
  </strong>
</p>

<p>
  <%= @article.body %>
</p>

<p>
  <strong>by:</strong>
  <%= @article.author.username %>
</p>
<br>

<!-- LINKS -->
<% if admin %>
<%= link_to "Edit", edit_article_path(@article) %>
<br>
<%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure??"} %>
<br>
<% end %>
<%= link_to 'Back', articles_path %>